<div class="container", style='overflow: auto;'>
<div class='col-sm-8 rightbox'>
<% posts.forEach(function(post){%>
<h4><%=post.title%></h4>
<div id='meta'>
  <span class="fa fa-clock-o"></span>
<%=moment(post.created_at)%>
<span class="fa fa-user"></span>
<%=post.username%>
<span class="fa fa-tags"></span>
<%post.tags.forEach(function(tag){%>
  <a href="/tags/<%=tag%>"><%=tag%></a>
<%})%>
</div>
<div  style="position: absolute;right: 10px;">
<a href="/edit/<%=post._id%>">编辑</a>
<a href="/delete/<%=post._id%>">删除</a>
</div>
<hr>
<%})%>
</div>
</div>
<div class='footer'>
<% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
      <li><a href="/tags/<%=tag%>?page=1"><<</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/tags/<%=tag%>/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/tags/<%=tag%>/?page=<%= pageCount %>">>></a></li>
  <% } %>
</ul>
<% } %>
</div>
